setuptools
sphinx>=4.0.2
sphinx-rtd-theme>=0.5.1
sphinx_autodoc_typehints
sphinxcontrib-bibtex
sphinx-gallery

# converting notebooks to html
nbsphinx>=0.8.6
pygments>=2.6.1

numpy<=2.0.2
anndata<=0.10.8
scipy==1.13.1
statsmodels
matplotlib
pandas
seaborn
typing
IPython<=8.14.0
networkx<=3.0
cycler
packaging
joblib
scanpy
scikit-learn
ipykernel



